<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Lista de ejemplos visto en clase
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo1']">Ejemplo1 (Interpolacion)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo2']">Ejemplo2 (Event binding)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo3']">Ejemplo3 (ngFor)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo4']">Ejemplo4 (ngIf)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo5']">Ejemplo5 (two way databinding)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo6']">Ejemplo6 (Property bound)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo7']">Ejemplo7 ( Style, class y attr bounds)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo8']">Ejemplo8 (Template reference)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo9']">Ejemplo9 (formularios simples)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo10']">Ejemplo10 (pipe)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo11']">Ejemplo11 (raw)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo12-Padre']">Ejemplo12 Padre (@input)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo13-Padre']">Ejemplo13 Padre (@output)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo14']">Ejemplo14 (Observable)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo15']">Ejemplo15 (if-else)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo16']">Ejemplo16 (lazy loading)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo17', '3333']">Ejemplo17 (rutas con parametros)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo18']">Ejemplo18 (formulario reactivos)</a> |
          <a class="dropdown-item" href="#" [routerLink]="['/ejemplo19']">Ejemplo19 Testing</a> |

          
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<p>
  Menu: 
  </p>

